.insertButton {
    width: 85px;
    height: 46px;

    font-size: 20px;
    font-weight: 700;

    border: 2px solid black;
    border-radius: 10px;
    background: #fff;
    color: black;

    align-self: flex-end;
    cursor: pointer;
}